{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "transform-inline-environment-variables",
    "@babel/plugin-transform-react-jsx-source",
    "transform-html-import-require-to-string"
  ]
}
